.button_base_style {
  background-color: var(--bg-box);
  border: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-size: var(--button-text-size);
  height: 50px;
  cursor: pointer;
}
.button_base_style:hover {
  transition: 0.2s;
  background-color: var(--bg);
}

.button_medium_size {
  width: 60%;
}

.button_small_size {
  width: 30%;
}
